{% macro book_form(action_url, book=None, genres=None) %}
<form action="{{ action_url }}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ book.title if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="publisher" class="form-label">Издатель</label>
        <input type="text" class="form-control" id="publisher" name="publisher" value="{{ book.publisher if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Автор</label>
        <input type="text" class="form-control" id="author" name="author" value="{{ book.author if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Год</label>
        <input type="number" class="form-control" id="year" name="year" value="{{ book.year if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="pages" class="form-label">Количество страниц</label>
        <input type="number" class="form-control" id="pages" name="pages" value="{{ book.pages if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea class="form-control" id="description" name="description" rows="3" required>{{ book.description if book else '' }}</textarea>
    </div>
    <div class="mb-3">
        <label for="genres" class="form-label">Жанры</label>
        <select class="form-control" id="genres" name="genres" multiple {% if request.endpoint == 'add_book' %}required{% endif %}>
            {% for genre in genres %}
            <option value="{{ genre.id }}" {% if book and genre.id in book.genre_ids %}selected{% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% if not book %}
    <div class="mb-3">
        <label for="cover" class="form-label">Обложка</label>
        <input type="file" class="form-control" id="cover" name="cover" required>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% if book %}Сохранить{% else %}Добавить книгу{% endif %}</button>
</form>
{% endmacro %}
