{% extends 'base.html' %}
{% block content %}
<h2>{{ book.title }}</h2>
<p>{{ book.description }}</p>
<p>Год: {{ book.year }}</p>
<p>Издатель: {{ book.publisher }}</p>
<p>Автор: {{ book.author }}</p>
<p>Количество страниц: {{ book.pages }}</p>
<h3>Рецензии</h3>
<ul>
    {% for review in book.reviews %}
    <li>
        <p>Оценка: {{ review.rating }}</p>
        <p>{{ review.text }}</p>
        <p>Автор: {{ review.user.login }}</p>
        <p>Дата: {{ review.date_added }}</p>
    </li>
    {% endfor %}
</ul>
{% if current_user.is_authenticated %}
    <a href="{{ url_for('add_review', book_id=book.id) }}">Добавить рецензию</a>
{% endif %}
{% endblock %}
