{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
    <div class="card-body">
        <h2 class="card-title">{{ book.title }}</h2>
        <img src="{{ url_for('image_path', filename=book.filename) }}" class="card-img-top" alt="">
        <p class="card-text"><strong>Издатель:</strong> {{ book.publisher }}</p>
        <p class="card-text"><strong>Автор:</strong> {{ book.author }}</p>
        <p class="card-text"><strong>Описание:</strong> {{ book.description }}</p>
        <p class="card-text"><strong>Год:</strong> {{ book.year }}</p>
        <p class="card-text"><strong>Количество страниц:</strong> {{ book.pages }}</p>
        <p class="card-text"><strong>Жанр(ы):</strong> {{ book.name }}</p>
        {#<p class="card-text">Средняя оценка: {{ book.average_rating }}</p>#}
    </div>
</div>
{% endblock %}
