{% extends "base.html" %}
{% block content %}
<form method="post" class="container">
    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="login" class="form-control" name="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="remember_me">
        <label class="form-check-label" for="remember_me">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>    
{% endblock %}